<html>
<body>

1192-1313-4240-0415-2225-5323

<table border="1"
　　summary="this table gives some statistics about fruit
　　 flies: average height and weight, and percentage
　　　　 with red eyes (for both males and females).">
　<caption><em>a test table with merged cells</em></caption>
　<tr><th rowspan="2"><th colspan="2">average
　<th rowspan="2">red<br>eyes
　<tr><th>height<th>weight
　<tr><th>males<td>1.9<td>0.003<td>40%
　<tr><th>females<td>1.7<td>0.002<td>43%

</table>



<table align='center' border='1' frame='border' rules='all'>
	<tr bgcolor='#ddddff'>	
		<th >单位</th>
		<th>任务类别</th>
		<th>日期</th>
		<th>任务内容</th>
		<th>责任人</th>
		<th>备注</th>
	</tr>
	<tr>
		<th rowspan="5">1L</th>
		<th rowspan="3">政治任务</th>
		<td>2014-12-3</td>
		<td>这是一个任务内容</td>
		<td>黄河</td>
		<td>没有备注</td>
	</tr>
	<tr>
		<td>2015-2-13</td>
		<td>这是二个任务内容</td>
		<td>黄河</td>
		<td></td>
	</tr>
		<tr>
		<td>2015-2-13</td>
		<td>这是三个任务内容</td>
		<td>黄河</td>
		<td></td>
	</tr>
	<tr>
		<th rowspan="2">其他任务</th>
		<td>2015-2-13</td>
		<td>这是四个任务内容</td>
		<td>黄河</td>
		<td></td>
	</tr>
		<tr>
		<td>2015-2-13</td>
		<td>这是五个任务内容</td>
		<td>黄河</td>
		<td></td>
	</tr>
	
	
		<tr>
		<th rowspan="5">2L</th>
		<th rowspan="3">政治任务</th>
		<td>2014-12-3</td>
		<td>这是一个任务内容</td>
		<td>黄河</td>
		<td>没有备注</td>
	</tr>
	<tr>
		<td>2015-2-13</td>
		<td>这是二个任务内容</td>
		<td>黄河</td>
		<td></td>
	</tr>
		<tr>
		<td>2015-2-13</td>
		<td>这是三个任务内容</td>
		<td>黄河</td>
		<td></td>
	</tr>
	<tr>
		<th rowspan="2">其他任务</th>
		<td>2015-2-13</td>
		<td>这是四个任务内容</td>
		<td>黄河</td>
		<td></td>
	</tr>
		<tr>
		<td>2015-2-13</td>
		<td>这是五个任务内容</td>
		<td>黄河</td>
		<td></td>
	</tr>


</table>


</body>

</html>